@using Ticky.Base.Entities
@inject IDbContextFactory<DataContext> _dbContextFactory

<ActionModal @ref=_modalRef Title="Set deadline">
    @if(_card is null) {
        <Spinner/>
    } else {
        <EditForm class="form p-2" Model="_deadlineModel" OnValidSubmit="SetDeadline">
            <DataAnnotationsValidator />

            <div class="form-group">
                <Name For="() => _deadlineModel.At" />
                <InputDate class="form-control" @bind-Value="_deadlineModel.At" min="@DateTime.Today.ToHtmlDateString()" />
                <ValidationMessage For="() => _deadlineModel.At" />
            </div>
            <div class="form-group">
                <Name For="() => _deadlineModel.Time" />
                <InputSelect class="form-control" @bind-Value="_deadlineModel.Time">
                    @{
                        var baseTime = DateTime.Today;
                    }

                    @while(baseTime.Day.Equals(DateTime.Today.Day))
                    {
                        var stepTime = baseTime;
                        <option value="@stepTime.ToString("HH:mm")">@stepTime.ToString("HH:mm")</option>

                        baseTime = baseTime.AddMinutes(15);
                    }
                </InputSelect>
                <ValidationMessage For="() => _deadlineModel.Time" />
            </div>

            <button type="submit">Set</button>
        </EditForm>
    }
</ActionModal>

@code {
    [CascadingParameter(Name = Constants.CascadingParameters.CurrentAccount)]
    private User _user { get; set; } = default!;

    [Parameter]
    public EventCallback UpdateCard { get; set; }

    private ActionModal? _modalRef;

    private Card? _card;

    private DeadlineModel _deadlineModel = new();

    public void Open(ElementReference? triggerElement, Card card) {
        _card = card;
        _deadlineModel = new()
            {
                At = card.Deadline ?? DateTime.Today,
                Time = (card.Deadline ?? DateTime.Now.AddHours(1).AddMinutes(-DateTime.Now.Minute)).ToString("HH:mm")
            };
        _modalRef?.Open(triggerElement);
        StateHasChanged();
    }

    public async Task SetDeadline() 
    {
        if(_card is null)
            return;

        using var db = _dbContextFactory.CreateDbContext();
        var card = await db.Cards
            .Include(x => x.Activities)
            .FirstOrDefaultAsync(x => x.Id.Equals(_card.Id));

        if(card is null)
            return;

        var time = DateTime.ParseExact(_deadlineModel.Time, "HH:mm", null);

        card.Deadline = new DateTime(_deadlineModel.At.Year, _deadlineModel.At.Month, _deadlineModel.At.Day, time.Hour, time.Minute, 0);
        card.DeadlineProcessed = false;
        card.Activities.Add(new Activity
            {
                Text = $"<b>set</b> the deadline for <b>{card.Deadline.Value.ToReadableStringWithTime()}</b>",
                UserId = _user.Id,
                CardId = card.Id,
            });

        await db.SaveChangesAsync();

        _card = card;
        StateHasChanged();
        await UpdateCard.InvokeAsync();
        _modalRef?.Close();
    }
}