@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html class="h-full w-full" lang="en">
    <head>
        <meta charset="utf-8" />
        <base href="~/" />
        <link rel="preload" href="fonts/pxiGyp8kv8JHgFVrLPTucHtA.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="fonts/pxiByp8kv8JHgFVrLFj_Z1xlFQ.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="fonts/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="fonts/pxiEyp8kv8JHgFVrJJfecg.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="fonts/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="fonts/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="fonts/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="fonts/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="fonts/pxiByp8kv8JHgFVrLBT5Z1xlFQ.woff2" as="font" type="font/woff2" crossorigin>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="css/app.css" rel="stylesheet" />
        <link rel="stylesheet" href="fonts/Poppins.css">
        <link href="Ticky.Web.styles.css" rel="stylesheet" />
        <link rel="icon" type="image/png" href="./images/favicon.png"/>
        <link rel="stylesheet" href="font-awesome/css/fontawesome.min.css">
        <script src="js/main.js"></script>
    </head>
    <body class="h-full w-full">
        @RenderBody()
    </body>

    <style>
        body, input {
            font-family: 'Poppins';
            font-weight: 500;
        }
    </style>
</html>