@page
@model ForgotPasswordModel

<div class="auth-items-group">
    <h1>Forgot your password?</h1>
    @if (Constants.SMTP_ENABLED)
    {
        <p class="subtext">Don't worry, we can help.</p>
    }
    else
    {
        <div class="warning">Reach out to an administrator to get it reset.</div>
    }
</div>
@if (Constants.SMTP_ENABLED)
{
    @using (Html.BeginForm(FormMethod.Post, true, new { @class = "auth-form" }))
    {
        <div class="auth-inp-label">
            @Html.LabelFor(model => model.Input.EmailAddress, new { @class = "auth-label" })
            @Html.EditorFor(model => model.Input.EmailAddress, new { htmlAttributes = new { @class = "auth-input" } })
            @Html.ValidationMessageFor(model => model.Input.EmailAddress)
        </div>

        @Html.AntiForgeryToken()

        <button class="auth-button" type="submit">Submit</button>
    }
}
<div class="auth-items-group">
    <span class="subtext mx-auto w-max">Not needed anymore?</span>
    <a class="btn btn-purple" href="/auth/login">Log in to existing one</a>
</div>