@page
@model MailConfirmedModel

<div class="auth-items-group">
    <h1>Mail confirmed</h1>
    <p class="subtext">The e-mail address has been confirmed and the registration is successful.</p>
</div>

<a class="btn btn-yellow" href="~/">Go to application</a>