@page
@model PasswordChangedModel

<div class="auth-items-group">
    <h1>Password changed</h1>
    <p class="subtext">Your password was changed successfully. From now on, you may use the new password to log in.</p>
</div>

<a class="btn btn-yellow" href="~/">Go to application</a>