@inject IJSRuntime _js

<div @ref="_element" class="dropdown dropdown-animate island-mini absolute top-0 left-0 z-20 my-6 hidden overflow-y-auto">
	<section class="flex w-full flex-row items-center justify-between px-2 py-4">
		<h5 class="font-bold">@Title</h5>
		<a class="material-symbols-rounded g-icon self-center" @onclick="Close" title="Cancel">
			close
		</a>
	</section>
	<HorizontalSeparator/>
	<div class="p-2">
		@ChildContent
	</div>
</div>

@code {
	[Parameter]
	public required RenderFragment ChildContent { get; set; }

	[Parameter]
	public required string Title { get; set; }

	private ElementReference? _element;
	private string? _elementId;
	private ElementReference? _triggerElement;

	public async void Open(string elementId)
	{
		_elementId = elementId;
		await OnResized();
		await TrapFocus();
	}

	public async void Open(ElementReference? triggerElement)
	{
		_triggerElement = triggerElement;
		await OnResized();
		await TrapFocus();
	}

	public async Task TrapFocus()
	{
		if(!_element.HasValue)
			return;

		await Task.Delay(100);
		await _js.InvokeVoidAsync("trapFocusInElement", _element.Value);
	}

	public async Task OnResized()
	{
		if(_triggerElement is not null)
			await _js.InvokeVoidAsync("openDropDownOnElementPosition", _element, _triggerElement);

		if (_elementId is not null)
			await _js.InvokeVoidAsync("openDropDownOnElementId", _element, _elementId);
	}

	public async void Close() 
	{
		await _js.InvokeVoidAsync("closeDropdowns");
	}
}