<div class="fixed right-5 bottom-5 z-20 flex flex-col gap-10 transition-all">
    @foreach(var notification in _notifications) 
    {
        <div class="flex flex-row content-between items-center gap-10 overflow-hidden rounded-md bg-white shadow transition-all">
            <div class="flex flex-row content-start items-center gap-5">
                <div class='@(notification.Type == NotificationType.Success ? "bg-green-500" : "bg-red-500") h-16 w-2'>
                </div>
                <i class='@(notification.Type == NotificationType.Success ? "text-green-500 fa-circle-check" : "text-red-500 fa-circle-xmark") fa-regular text-2xl'></i>
                <label class="text-sm">
                    @notification.Text
                </label>
            </div>
            <div class="cursor-pointer p-5 text-gray-400 transition-all hover:text-red-500" 
                @onclick="() => _notifications.Remove(notification)">
                CLOSE
            </div>
        </div>
    }
</div>

@code {
    private List<Notification> _notifications = [];

    public async void RunNotification(Notification notification)
    {
        _notifications.Add(notification);
        StateHasChanged();
        await Task.Delay(Constants.Limits.DEFAULT_NOTIFICATION_TIME_IN_MS);
        if(_notifications.Contains(notification)) {
            _notifications.Remove(notification);
            StateHasChanged();
        }
    }
}