@if(Priority.Equals(CardPriority.Normal)) {
    <div class="priority bg-sky-500">
        Normal
    </div>
} else if(Priority.Equals(CardPriority.Medium)) {
    <div class="priority bg-yellow-500">
        Medium
    </div>
} else if(Priority.Equals(CardPriority.High)) {
    <div class="priority bg-orange-500">
        High
    </div>
} else if(Priority.Equals(CardPriority.Critical)) {
    <div class="priority bg-red-500">
        Critical
    </div>
}

@code {
    [Parameter]
    public required CardPriority Priority { get; set; }
}