<div data-small='@Small.ToString()' class="element-spinner-wrapper @Class">
    <div class="element-spinner">
    </div>
</div>

@code {
    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public bool Small { get; set; }
}