@import "tailwindcss";
@config "./tailwind.config.js";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-background: oklch(0.9468 0.0268 288.17);
    --color-primary: oklch(100% 0.000 0);
    --color-secondary: oklch(0.5714 0.1438 289.17);
    --color-tint: oklch(0.8365 0.171982 83.0703);
    --color-text: oklch(0.2982 0.0591 282.21);
    --color-subtext: oklch(0.6794 0.041 285.26);
    --color-red: oklch(0.6554 0.1889 23.93);
    --color-bgDark: oklch(0.2396 0.0266 290.79);
    --color-primaryDark: oklch(0.2807 0.028 275.67);
    --color-secondaryDark: oklch(0.7007 0.137 290.64);
    --color-tintDark: oklch(0.8462 0.1709 85.18);
    --color-textDark: oklch(0.9711 0.0146 290.31);
    --color-subtextDark: oklch(0.7711 0.0397 288.71);
    --color-redDark: oklch(0.647 0.1987 24.6);
    --text-2xs: 0.65rem;
    --breakpoint-xs: 30rem;
    --breakpoint-2xs: 20rem;
    --radius-input: 0.5rem;
    --radius-button: 0.5rem;
    --radius-button-nav: 1rem;
    --radius-island: 1rem;
    --spacing-island-x: 1rem;
    --spacing-island-y: 2rem;
    --spacing-button-x: 0.5rem;
    --spacing-button-y: 0.25rem;
}

body,
html {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    @apply text-text dark:text-textDark font-normal;
}

body {
    @apply bg-background dark:bg-bgDark text-text dark:text-textDark;
}

.full-screen {
    @apply h-screen w-full;
}

button, a, .btn, .smooth-animation, .auth-link, .settings-menu-item {
    transition: all 0.15s ease-in;
    @apply cursor-pointer;
}

h1, h2, h3, h4, h5, h6, .title {
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
h1 {
    font-size: clamp(1.75rem, 4vw + 1rem, 2.75rem) !important;
}

    h1:focus {
        outline: none;
    }

h2 {
    font-size: clamp(1.4rem, 2.5vw + 0.8rem, 1.741rem) !important;
}

h3 {
    font-size: clamp(1.2rem, 2vw + 0.7rem, 1.516rem) !important;
}

h4 {
    font-size: clamp(1.1rem, 1.8vw + 0.5rem, 1.32rem) !important;
}

h5 {
    font-size: clamp(1rem, 1.5vw + 0.4rem, 1.149rem) !important;
}

h6 {
    font-size: clamp(0.9rem, 1vw + 0.3rem, 1rem) !important;
}

p, label {
    @apply text-sm;
}

.g-icon {
    @apply !text-xl;
}

.subtext {
    @apply text-subtext dark:text-subtextDark dark:font-light;
}

.btn {
    @apply w-full text-sm rounded-button px-button-x py-button-y text-center cursor-pointer;
}

.btn-yellow {
    @apply bg-tint text-text hover:bg-tint/70 dark:bg-tintDark dark:text-primaryDark dark:hover:bg-tint/70;
}

.btn-purple {
    @apply bg-secondary text-primary hover:bg-secondary/70 dark:bg-secondaryDark dark:text-primaryDark dark:hover:bg-secondaryDark/70;
}

.btn-red {
    @apply bg-red text-primary hover:bg-red/80 dark:bg-redDark dark:text-primaryDark dark:hover:bg-redDark/70;
}

.btn-light {
    @apply bg-background dark:bg-bgDark text-text dark:text-textDark hover:bg-secondary/50 dark:hover:bg-secondaryDark/50;
}

.btn-transparent {
    @apply hover:bg-secondary/20 dark:hover:bg-secondaryDark/20 text-secondary dark:text-secondary;
}

.auth-bg {
    @apply bg-background dark:bg-bgDark grid h-screen grid-cols-1 lg:grid-cols-2 p-4 md:p-8 w-full items-center justify-center;
}

.auth-card {
    @apply bg-primary dark:bg-primaryDark h-full rounded-xl flex flex-col lg:justify-center space-y-8 p-6 md:p-12 w-full;
}

.auth-form {
    @apply flex flex-col justify-center space-y-8;
}

.form {
    @apply flex flex-col space-y-4;
}

.form-group {
    @apply flex flex-col space-y-1 w-full;
}

.auth-section {
    @apply flex flex-col space-y-4 w-full max-w-sm mx-auto;
}

.auth-items-group, .auth-inp-label {
    @apply flex flex-col space-y-1 w-full max-w-sm mx-auto;
}

.auth-label, .form-label {
    @apply ml-1 text-sm dark:font-light;
}

.form-link, .auth-link {
    @apply cursor-pointer dark:font-light text-subtext dark:text-subtextDark hover:text-secondary dark:hover:text-secondaryDark;
}

.auth-link {
    @apply text-xs;
}

.input-field, .auth-input, .devity-select-toggle, .blazored-typeahead__controls {
    @apply rounded-input w-full dark:font-light border-[1px] border-subtext dark:border-subtextDark bg-background dark:bg-bgDark px-3 py-2 text-xs font-medium text-subtext dark:text-subtextDark ring-0 outline-0 focus:border-secondary dark:focus:border-secondaryDark;
}

.input-validation-error{
    @apply border-red dark:border-redDark bg-red/5 dark:bg-redDark/5 text-red dark:text-redDark;
}

.devity-select {
    @apply w-full border-0 bg-background dark:bg-bgDark text-subtext dark:text-subtextDark;
}

.devity-select-options, .blazored-typeahead__results {
    @apply rounded-input w-full bg-background dark:bg-bgDark p-0 text-sm font-medium text-subtext dark:text-subtextDark ring-0 outline-0 focus:border-secondary dark:focus:border-secondaryDark;
}

.devity-select-option label {
    @apply m-0 px-4 py-2 font-medium;
    transition: all 0.2s ease-in;
    margin: 0px !important;
}

.devity-select-option, .blazored-typeahead__result {
    @apply hover:bg-pink-600 hover:text-white;
}

.blazored-typeahead__input-icon, .blazored-typeahead {
    box-shadow: 0 0 0 0 !important;
}

.blazored-typeahead__input-icon {
    @apply flex items-center justify-center hover:bg-pink-600;
}

.blazored-typeahead__input, .blazored-typeahead__input-icon, .blazored-typeahead__input-mask, .blazored-typeahead__clear {
    @apply p-0;
}

.blazored-typeahead {
    @apply border-0;
}

.warning {
    @apply rounded-island px-island-x py-island-y border-red text-red bg-red/5 w-full border-[1px] dark:border-redDark dark:text-redDark dark:bg-redDark/5;
}

#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.island {
    @apply rounded-island px-island-x py-island-y bg-primary dark:bg-primaryDark text-text dark:text-textDark;
}

.island-title {
    @apply rounded-button py-button-x px-island-x bg-primary dark:bg-primaryDark text-text dark:text-textDark;
}

.field-validation-error, .validation-message {
    @apply text-red dark:text-redDark dark:font-light text-sm;
}

.nav-links {
    @apply flex flex-row space-x-4 items-center;
}

.nav-link {
    @apply z-10 rounded-button px-button-x py-button-y h-full text-sm bg-background dark:bg-bgDark text-text dark:text-textDark hover:bg-secondary/30 dark:hover:bg-secondaryDark/30 flex flex-row space-x-2 items-stretch;
}

.avatar, .avatar-mini {
    @apply bg-center bg-secondary/50 dark:bg-secondaryDark/50 border-2 border-secondary dark:border-secondaryDark rounded-full bg-cover;
}

.avatar {
    @apply h-8 min-h-8 w-8 min-w-8;
}

.avatar-mini {
    @apply h-6 min-h-6 w-6 min-w-6;
}

.stack-avatars {
    margin-left: -1rem;
}

.avatar-border {
    @apply border-[1px] border-secondary dark:border-secondary;
}

.avatar-settings {
    @apply bg-secondary bg-cover bg-center w-full;
}

.dropdown-box {
    @apply bg-background z-10 text-text rounded-button flex w-max flex-col space-y-2 p-2 text-xs drop-shadow dark:bg-bgDark dark:text-textDark;
}

.dropdown-animate {
    transition: opacity 0.1s cubic-bezier(0.4,0,0.2,1), transform 0.1s cubic-bezier(0.4,0,0.2,1);
    transform: translateY(-10px);
    opacity: 0;
}

.dropdown-animate-in {
    transform: translateY(0);
    opacity: 1;
}

.board-card {
    @apply bg-primary dark:bg-primaryDark rounded-island p-island-x flex flex-col space-y-4 cursor-pointer;
}

.settings-menu {
    @apply rounded-island p-3 max-w-full flex-wrap gap-2 border-[1px] border-subtext dark:border-subtextDark flex flex-row w-max;
}

.settings-menu-item {
    @apply rounded-sm text-sm bg-transparent px-2 py-1 font-bold hover:bg-secondary/30 hover:dark:bg-secondaryDark/30;
}

.settings-menu-item.selected {
    @apply bg-secondary/30 dark:bg-secondaryDark/30;
}

.settings-section {
    @apply grid grid-cols-3 md:grid-cols-2 lg:grid-cols-3 gap-2;
}

.setting-description {
    @apply flex flex-col space-y-1 col-span-2 md:col-span-1;
}

.vertical-separator {
    @apply w-full h-1 border-subtext dark:border-subtextDark;
}

input[type="checkbox"].toggle {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    @apply rounded-full bg-transparent w-10 h-6 relative cursor-pointer border-[1px] border-subtext dark:border-subtextDark;
}

    input[type="checkbox"].toggle:checked {
        @apply bg-secondary dark:bg-secondaryDark border-secondary dark:border-secondaryDark;
    }

    input[type="checkbox"].toggle:after {
        position: absolute;
        content: "";
        border-radius: 50%;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        @apply w-4 h-4 top-1/2 -translate-y-1/2 left-[3px] bg-subtext dark:bg-subtextDark;
    }

    input[type="checkbox"].toggle:checked:after {
        left: calc(100% - 1.25rem);
        @apply bg-primary dark:bg-primaryDark;
    }

.max-h-visible-screen {
    @apply max-h-[calc(var(--vvh)*100-(var(--spacing)*6)-(var(--spacing)*2)*6-(var(--spacing)*8)*2-17px)];
}

.h-board-content {
    @apply h-[calc(var(--vvh)*100-(var(--spacing)*6)*4-1px)];
}

.h-visible-screen {
    @apply h-[calc(var(--vvh)*100)];
}

.board-column {
    @apply flex w-80 flex-col items-center space-y-2;
}

.task-card {
    @apply rounded-button py-button-y px-button-x flex w-full cursor-pointer flex-col space-y-2 border-2 border-primary bg-primary text-text select-none dark:border-primaryDark dark:bg-primaryDark dark:text-textDark data-[blocked=True]:border-red dark:data-[blocked=True]:border-redDark;
}

.priority, .label {
    @apply text-2xs w-max cursor-pointer rounded-button px-2 py-1 font-medium;
}

.card-data-point {
    @apply flex cursor-pointer flex-row items-center justify-center gap-1 whitespace-nowrap text-xs rounded-button py-1 px-2 bg-background dark:bg-bgDark;
}

/*

.to-task-card {
    @apply select-none data-[active=True]:flex data-[active=True]:flex-col data-[active=True]:gap-3 data-[active=True]:bg-card-bg data-[active=True]:p-3 data-[active=True]:shadow-sm data-[active=True]:outline-0;
}
.auth-input {
    @apply h-8 w-full border-b-2 border-gray-600 bg-auth-bg px-2 text-sm font-normal transition-all ease-in-out focus:border-primary;
}

.auth-button {
    @apply mt-5 !rounded-full !text-base;
}

   */
/* Regular checkbox styling
input[type="checkbox"]:not(.switch) {
    @apply h-4 w-4 min-w-4 cursor-pointer appearance-none rounded-sm border-1 border-add-outline bg-card-bg transition-all;
}

input[type="checkbox"]:not(.switch):checked {
    @apply bg-primary;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

option {
    @apply bg-modal;
}

 */
/* For Firefox 
 Note: Firefox's scrollbar-color doesn't support a separate hover state for the thumb
[data-theme='dark'] html {
    scrollbar-width: thin;
    scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar-track);
}


.card-data-point {
    @apply flex cursor-pointer flex-row items-center justify-center gap-1 whitespace-nowrap;
}

button, button[type='submit'], .label-as-button {
    @apply rounded-lg bg-primary py-2 text-xs text-button-text transition-all ease-in-out hover:bg-primary-hover;
}

button, .label-as-button > label {
    @apply cursor-pointer;
}

button, .label-as-button > i {
    @apply cursor-pointer;
}
 */
/* 
::-webkit-scrollbar {
    @apply h-2 w-2;
  }

Track 
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  */
/* Handle 
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
  }
  */
/* Handle on hover
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


input[type="checkbox"].switch{
	font-size: 30px;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	width: 3.5em;
	height: 1.5em;
	background: transparent;
	border-radius: 3em;
	position: relative;
	cursor: pointer;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
    @apply scale-50 bg-checkbox-bg shadow-sm;
  }

[data-theme='dark'] input[type="checkbox"].switch {
    @apply outline-3;
}
  
  input[type="checkbox"].switch:checked{
	@apply bg-primary;
  }
  
  input[type="checkbox"].switch:after{
	position: absolute;
	content: "";
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	background: #fff;
	-webkit-transform: scale(.7);
	        transform: scale(.7);
	left: 0;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
  }
  
  input[type="checkbox"].switch:checked:after{
	left: calc(100% - 1.5em);
  }

@utility add {
    @apply flex cursor-pointer flex-col items-center justify-center gap-5 text-add-outline outline-1 outline-add-outline transition-all ease-in-out outline-dashed hover:text-add-outline-hover hover:outline-add-outline-hover;
}

.board-card-create {
    @apply add h-min w-full rounded-lg px-5 py-5 select-none sm:w-72;
}

    .add label {
        @apply cursor-pointer;
    }

@utility icon-button {
    @apply cursor-pointer rounded-lg bg-transparent p-1 text-add-outline transition-all ease-in-out hover:text-add-outline-hover hover:bg-icon-bg-hover;
}

.card-button {
    @apply icon-button hover:!bg-card-icon-bg-hover;
}
.board-card {
    @apply flex h-min w-full cursor-pointer flex-col rounded-lg bg-card-bg px-5 py-5 shadow-sm transition-all ease-in-out select-none hover:shadow-xl sm:w-72*/ /*hover:scale-105*/
/*
[data-theme=''] .board-card {
    @apply hover:shadow-gray-500;
}

[data-theme='dark'] .board-card {
    @apply hover:outline-1;
}


.board-card-data-point {
    @apply text-card-data-points flex cursor-pointer flex-row items-center justify-start gap-3 pl-1 text-xs;
}

    .board-card-data-point > i {
        @apply w-4 text-base;
    }

.field-validation-error, .validation-message {
    @apply text-xs text-red-button;
}

.form {
    @apply flex flex-col gap-3;
}

.form-group {
    @apply flex flex-col gap-1 transition-all;
}

    .form-group > label {
        @apply text-xs font-light;
    }

    .form-group > .form-control {
        @apply border-b-2 border-purple-300 px-2 py-1 text-sm transition-all focus:border-primary;
    }

.dragging {
    @apply rotate-6 transition-transform;
}

.edit-task-label {
    @apply text-card-edit-label w-24 overflow-hidden text-sm font-normal;
}

.edit-task-item {
    @apply flex flex-row flex-wrap items-center gap-2 text-sm font-medium;
}

.person-label {
    @apply bg-person-label-bg flex flex-row items-center
        justify-center gap-1 overflow-hidden rounded-full p-1 text-xs font-normal;
}

[data-theme='dark'] .person-label, [data-theme='dark'] .card-label {
    @apply outline-2;
}

    .person-label > div {
        @apply w-5;
        @apply h-5;
    
        @apply bg-center;
        background-size: cover;
        border-radius: 50%;
    }

.card-label {
    @apply bg-person-label-bg flex flex-row items-center
        justify-center gap-2 overflow-hidden rounded-full px-2 py-1.5 text-xs font-normal;
}

.edit-icon {
    @apply cursor-pointer
    p-2 text-xs text-add-outline outline-add-outline transition-all ease-in-out
    hover:text-add-outline-hover hover:outline-add-outline-hover;
}

.icon {
    @apply p-2 text-xs text-add-outline outline-add-outline transition-all ease-in-out;
}

.priority-selector-item {
    @apply flex cursor-pointer flex-row items-center justify-between px-2 py-2 transition-all ease-in-out hover:bg-dropdown-option;
}

.person-link {
    @apply cursor-pointer items-stretch rounded-lg bg-blue-600 px-1 pb-0.5 whitespace-pre-wrap text-white transition-all ease-in-out hover:bg-blue-700;
}

.plk-dd-spacing {
    @apply h-1 transition-all;
}

.plk-dd-spacing-dragged-over {
    @apply h-24 transition-all;
}

.plk-dd-inprogess > * {
    pointer-events: none;
}

.element-spinner {
    border-radius: 50%;
    animation: spin 1s ease-in-out infinite;
    @apply h-10 w-10 border-4 border-card-bg border-t-primary data-[small=True]:h-5 data-[small=True]:w-5;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.element-spinner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #e50000;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.tooltip-wrapper {
    position: relative;
    display: inline-block;
    cursor: help;
}

.tooltip-span {
    visibility: hidden;
    position: absolute;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    background-color: #363636;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
}

    .tooltip-span::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

.tooltip-wrapper:hover .tooltip-span {
    visibility: visible;
}

.sortable-chosen {
    @apply animate-pulse;
}

[data-theme='dark'] .task-card.sortable-chosen {
    @apply border-2;
}

*/